# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Virtual Environment
.venv/

# Daten (lokal behalten)
data/raw/*.csv
!data/raw/holidays.csv
!data/raw/stores.csv
data/plots/

# MLflow (zu groß für GitHub)
mlruns/
mlartifacts/
mlflow.db

# Windows
Thumbs.db
desktop.ini

# PyCharm
.idea/

# Streamlit
.streamlit/secrets.toml
.env